html, body {
    height: 100%;
}

.hide, *[class*="hide-"]{
    display: none !important;
}

.left-panel {
    background-color: rgb(21 74 136);
    color: white;
}

.left-panel-inner-div{
    padding-top: 15%;
    padding-left: 10%;
}

.company-name{
    font-weight: bold;
    padding-left: 2%;
}

.logo img{
    max-width: 25%;
    max-height: 25%;
}

.main-heading{
    padding-bottom: 1%;
    border-bottom: 1px solid #dddddd;
}

#client .add-div{
    padding-bottom: 1%;
}

#user .add-div{
    padding-bottom: 1%;
}

table{
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

tr[id] th{
    padding-bottom: 1% !important;
}

tr[id] td{
    padding-top: 1% !important;
    padding-bottom: 1% !important;
}

.main-panel{
    padding-left: 1%;
}

.add-btn{
    background-color: rgb(21 85 159) !important;
    color: white;
}

.add-btn:hover{
    color: white !important;
}
  
.fill {
    min-height: 100% !important;
}

.bottom-align{
    border-top: 1px solid white;
    position: absolute;
    top: 88%;
    width: 82%;
}

.logout{
    position: absolute;
    top: 82%;
    width: 82%;
}

.logout .left-panel-icon{
    padding-right: 7%;    
    font-size: 1.1em;
}

#login {
    background-image: url('/images/login_bg.png');
    background-repeat: no-repeat;
    background-color: #154a88;
    background-size: 100% 100%;
}

#login .container{
    font-family: unset;
    color: white;
    width: 20%;
    height: 50%;
    top: 20%;
    position: relative;
}

#login .heading{    
    font-size: 3.7em;
    padding-bottom: 10%;
}

#login #username, #login #password{
    background-color: rgb(63 168 255);
    border: 1px solid rgb(63 168 255);
    color: white;

}

#login #username::placeholder, #login #password::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 0.5; /* Firefox */
}

#login #username:-ms-input-placeholder,  #login #password:-ms-input-placeholder{ /* Internet Explorer 10-11 */
    color: white;
}

#login #username::-ms-input-placeholder, #login #password::-ms-input-placeholder { /* Microsoft Edge */
    color: white;
}

#login-btn{
    color: white;
    border: 1px solid white;
    width: 40%;
}

#login-btn:hover{
    background-color: rgb(34 223 127);
    color: white;
}

.error {
    color: red;
}


/* Notification css starts */

.notification {
    position: fixed;
    top: 0.5rem;
    right: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: hsl(0, 0%, 20%);
    /* hide the overflow to conceal the message when translated to the right of the container */
    overflow-x: hidden;
    /* padding to avoid cropping the box-shadow on the message */
    padding: 0.25rem;
    min-width: 20%;
    z-index: 2000;
}

.notification *{
    padding: 0;
    margin: 0;
}

/* ! for both elements the rotation occurs using the parent group element as a hinge, allowing for the pendulum-like swing */
@keyframes swingBody {
    25% {
        transform: rotate(-5deg);
    }
    75% {
        transform: rotate(5deg);
    }
}

/* animation for the clapper, following the main body and with a larger rotation */
@keyframes swingClapper {
    5% {
        transform: rotate(0deg);
    }
    30% {
        transform: rotate(-8deg);
    }
    80% {
        transform: rotate(8deg);
    }
}

/* style the content of the message to show a grid with the dismiss button in the top right corner
|h1  |  button |
|p   |p        |
*/
.notification__message {
    display: grid;
    grid-gap: 0.6em;
    grid-template-columns: 1fr auto;
    padding: 1.2em 1em;
    margin: 1em 0;
    /* style the div as a rounded rectangle with a border on the left segment */
    background: hsl(0, 0%, 100%);
    border-radius: 10px;
    box-shadow: 0 0 5px hsla(0, 0%, 0%, 0.1), 0 2px 3px hsla(0, 0%, 0%, 0.1);
    border-left: 0.5em solid hsl(0, 0%, 100%);
    /* by default hide the element from sight and include a transition for the chosen properties */
    transform: translateX(100%);
    opacity: 0;
    visibility: hidden;
    transition-property: transform, opacity, visibility;
    transition-duration: 0.7s;
    transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95);
    min-width: 100%;
}

.notification__message h1 {
    font-size: 1.1em;
    font-weight: 500;
    text-transform: capitalize;
}

.notification__message p {
    max-width: 320px;
    font-size: 0.9em;
    grid-column: 1/-1;
}

.notification__message button {
    background: none;
    border: none;
    color: inherit;
    width: 20px;
    height: 20px;
    grid-column: 2/3;
    grid-row: 1/2;
    align-self: center;
}

.notification__message button svg {
    display: block;
    width: 100%;
    height: 100%;
}

/* when the .notification container has a class of .received transition the message into view */
.notification.received .notification__message {
    transform: translateX(0%);
    opacity: 1;
    visibility: visible;
}

.message--info {
    border-left-color: #90dee9;
}

.message--success {
    border-left-color: hsl(120, 67%, 74%);
}

.message--warning {
    border-left-color: hsl(54deg 77% 53%);
}

.message--danger {
    border-left-color: hsl(0, 67%, 74%);
}

.message--info #close-btn {
    color: #90dee9;
}

.message--success #close-btn{
    color: hsl(120, 67%, 74%);
}

.message--warning #close-btn{
    color: hsl(54deg 77% 53%);
}

.message--danger #close-btn{
    color: hsl(0, 67%, 74%);
}

.button-dismiss:hover{
    cursor: pointer;
}

#close-btn {
    position: absolute;
    font-size: 1.5em;
    top: 0%;
}
/* Notification css ends */

.left-panel-arrow{
    font-size: 0.6em;
    padding-right: 6%;
}

.left-panel-icon{    
    padding-right: 9%;
}

.left-panel-component-name{
    font-size: 1.1em;
    font-weight: bold;
}

.left-panel-component{
    padding-top: 15%;
}

.left-panel-component.active{
    color: rgb(34 223 127);
}

.left-panel-component.hover:not(.active), .logout:hover{
    color: #a7a3a3;
}

.left-panel-icon:hover, .left-panel-component-name:hover, .left-panel-arrow:hover, .logout:hover{
    cursor: pointer;
}

/* .table thead th{
    background-color: #04AA6D;
    color: white;
} */

.table-responsive{ 
    overflow: auto; 
    max-height: 45em; 
    border-radius: 10px;
    box-shadow: 0 0 40px 0 rgb(0 0 0 / 15%);
    max-width: 101%;
}
.table-responsive thead tr[id]>th { position: sticky; top: 0; z-index: 1;}
.table-responsive tr[id]#search { position: sticky; top: 10%; z-index: 10;}

.table tr[id]>td{
    font-size: 0.95em;
    color: gray;
}
.table tr[id*=heading]>th{
    padding-top: 1.3em !important;
    padding-bottom: 1.3em !important;
    font-size: 1.1em;
    color: #fff;
    background-color: rgb(32, 30, 30);
}

.table tr[id]:nth-child(even) {
    background-color: rgb(221, 235, 250);
}

.table tr[id]>th:nth-child(1), .table tr[id]>td:nth-child(1){
    padding-left: 1em;
}

.modal-footer{
    text-align: center !important;
}

button.cancel, button.cancel{
    color: #3279b7 !important;
    border: 1px solid #3279b7 !important;
}

.modal-dialog .close{
    opacity: 1;
    color: #3279b7 !important;
}

.modal-dialog .close:hover{
    opacity: 1;
    color: #3279b7 !important;
}

#saving-btn{    
    cursor: auto;
}

.edit{
    cursor: pointer;
    font-size: 1.2em;
    color: rgb(9, 184, 9);
    padding-right: 10%;
}

.delete{
    cursor: pointer;
    font-size: 1.2em;
    color: red;
}

.filter {
    font-size: 160%;
    margin-right: 2%;
    color: grey;
    cursor: pointer;
}

.filter:hover{
    color: rgb(76, 74, 74);
}

#client .glyphicon.filter{
    top: 0.3em;
    padding-left: 15%;
}

#user .glyphicon.filter{
    top: 0.3em;
    padding-left: 30%;
}


tr#search td{
    min-width: 12em;
    background-color: #e1dddd;
}

.clear-btn {
    background-color: gray;
    color: white;
}

.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
    background-color: #337ab7 !important;
    text-decoration: none;
}

.dropdown-div .dropdown-toggle{
    min-width: 50%;
    text-align: left;
}

.dropdown-div .dropdown-menu{
    width: 50%;
}

tr .badge{
    min-width: 100%;
    text-transform: uppercase;
}

.badge.open{
    background-color: #b4a510;
}

.badge.closed{
    background-color: #9747ff;
}

.badge.working{
    background-color: #1bc8ff;
}

.badge.converted{
    background-color: #22df7f;
}

.count{
    font-weight: bold;
}

.data-password .glyphicon:hover{
    cursor: pointer;
    color: #3a3737;
}

.data-password .glyphicon{
    padding-left: 2rem;
}

tr.overdue {
    background-color: #ffc8c8 !important;
}

.error input{
    border: 1px solid red !important;
}

.error input, .error button{
    border: 1px solid red !important;
}

.error label{
    color: red !important;
}

.required label::after{
    content: "*";
    color: red;
    font-size: 1.5rem;
}

btn:focus {
    background-color:yellow;    
}